body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--board-size, 3), calc(60vh / var(--board-size)));
    grid-gap: calc(60vh / var(--board-size) / 7);
}

.cell {
    width: calc(60vh / var(--board-size));
    height: calc(60vh / var(--board-size));
    text-align: center;
    line-height: calc(60vh / var(--board-size));
    /* font-size: 18px; */
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: calc(50vh / var(--board-size));
}

main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#scoreboard{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#scoreboard > .information  {
    display: flex;
    justify-content: space-between;
}

#scoreboard > .information > .score, 
#scoreboard > .information > .time-move {
    display: flex;
    grid-gap: 10px;
    justify-content: center;
}

#scoreboard > .information > .score > .score-container,
#scoreboard > .information > .time-move > .time-move-container {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreboard > .information > .score > .score-container > .score-title, 
#scoreboard > .information > .time-move > .time-move-container > .time-move-title {
    font-weight: 600;
    font-size: 1rem;
}

#scoreboard > .information > .score > .score-container > .score-point {
    font-weight: 800;
    font-size: 3rem;
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
}


#scoreboard > .information > .time-move > .time-move-container > .time-move-point {
    font-weight: 800;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
}

#scoreboard > .timer {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#scoreboard > .timer > .player-turn {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timeBarContainer {
    width: 100%;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

#timeBar {
    height: 20px;
    width: 0%;
    background-color: #333;
    transition: width 0.5s linear;
}